<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoctorERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DoctorERP.Properties.Settings.dbConnectionString"
            connectionString="Data Source=DESKTOP-56J42HN;Initial Catalog=almalqa2023abha;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

    <applicationSettings>
        <DoctorERP.Properties.Settings>
            <setting name="ArabicLayout" serializeAs="String">
                <value>Yes</value>
            </setting>
        </DoctorERP.Properties.Settings>
    </applicationSettings>
</configuration>
